@import url('https://fonts.googleapis.com/css?family=Zilla Slab');
* {
    
    font-family: 'Zilla Slab';
    margin: 0;
    padding: 0;
    color: rgb(1, 110, 182);
}

.logo{
    position: absolute;
    left: 20px;
    top: 20px;
    height: 150px;
    width: 20%;
    float: left;  
}

#tmain {
    text-decoration: none;
}
.title{
    position: absolute;
    left: 110px;
    top: 37px;
    align-items: center;
    height: 80px;
    width: 27%;
    /* background-color: aquamarine; */
    float: left;
}

.title h1{
    font-size:20px;
    color: rgb(1, 110, 182);
    font-family: 'Zilla Slab';
}

.title h2{
    font-size:15px;
    color: rgb(1, 110, 182);
}  

.navbar{
   
    position:absolute;
    top: 25px;
    right: 0px;
    display: flex;
    justify-content: right;
    align-items: center;


}
.navbar ul{
    display: inline;
    justify-content: center;
    align-items: center;
   
}

.navbar ul li {
    list-style: none;
    padding: 20px;
    display: inline;
    
}
.navbar ul li a {
    color: rgb(1, 110, 182);
    font-size: 15px;
    text-decoration: none;
    transition: 0.2s;
    cursor: default;

}
.navbar ul li a:hover{
    color:rgb(135, 252, 246);
    text-shadow: 0 0 2px rgb(135, 255, 249), 0 0 8px rgb(135, 255, 249);
    font-size: 18px;
}

.email{
   position: absolute;
    left: 10px;
}
.email i{
    position: absolute;
    top: 0px
}
.phone{
    position: absolute;
    top: 400px;
}

.line{
    height: 2px;
    width: 100%;
    background-color:  rgb(1, 110, 182);
}

.msgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 250px;
    width: 200px;
    border: 2px solid; 
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lavender;
}

.msgbox button{
    position: absolute;
    bottom: 10px;
    left: 40%;
}

.msgbox textarea{
    width: 89%;
}

.add h3{
    position: relative;
    left: 10px ;
}

.add i{
    float: left;
}