@import url('https://fonts.googleapis.com/css?family=Zilla Slab');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}
body{
 
  min-height: 110vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
.header {
  width: 100%;
  height: 100px;
}

#tmain {
  text-decoration: none;
}
.logo{
  position: absolute;
  left: 20px;
  top: 20px;
  height: 150px;
  width: 20%;
  float: left;  
}
.logo img {
  border-radius: 50%;
}
.title{
  position: absolute;
  left: 150px;
  top: 40px;
  align-items: center;
  height: 80px;
  width: 27%;
  float: left;
}
.title h1{
  font-size:35px;
  color:  rgb(255, 255, 255);
  font-family: 'Zilla Slab';
}

.title h2{
  font-size:30px;
  color: rgb(255, 255, 255);
}

.navbar{
 
  position:absolute;
  top: 25px;
  right: 0px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.navbar ul{
  display: inline;
  justify-content: center;
  align-items: center;
 
}

.navbar ul li {
  list-style: none;
  padding: 20px;
  display: inline;
  
}
.navbar ul li a {
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-decoration: none;
  transition: 0.2s;
  cursor: default;

}
.navbar ul li a:hover{
  color:rgb(133, 241, 255);
  text-shadow: 0 0 2px rgb(133, 241, 255), 0 0 8px rgb(133, 241, 255);
  font-size: 26px;
}

.gett{
  position: absolute;
  top: 180px;
  left: 24%;
  height: 80px;
  width: 800px;
  color: #fff;
}

.gett h1,p {
  right: 25%;
}
.container{
  position: absolute;
  top: 255px;
  right: 23%;
  max-width: 800px;
  background: #fff;
  width: 800px;
  height: 500px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  font-family: 'Poppins', sans-serif;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
}
.container .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}

.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.also{
  position: absolute;
  left: 0%;
  top: 530px;
  height: 140px;
  width: 800px;
  color: #000000;
  background: #fff;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.also ul{
  top: 15px;
  position: relative;
  list-style: none;
  left: 15px;
}
.also h2 {
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 15px;
  position: relative;
  left: 15px;
}
.also p {
  top: 15px;
  position: relative;
  left: 15px;
}
.add{
  position: absolute;
  height: 165px;
  width: 380px;
  background: #fff;
  top: 700px;
  left: 0%;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}


.add h2{
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: 20px;
  top: 10px;
}
.add p{
  position: relative;
  left: 20px;
  top: 10px;
}
.add address{
  position: relative;
  left: 20px;
  top: 10px;
}

.busi{
  position: absolute;
  height: 165px;
  width: 390px;
  top: 700px;
  left: 51%;
  background: #fff;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}
  
.busi h2{
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: 20px;
  top: 10px;
}
.busi p{
  position: relative;
  left: 20px;
  top: 10px;
}

