* {
    
    font-family: 'Zilla Slab';
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(91, 241, 247);     */
    margin: 0;
    padding: auto;
    /* background-image: url(bg.jpeg); */
    background-image: url(airport.jpeg);
    background-repeat: no-repeat;
    background-size: 45% , 20%;
    background-position-x: right;
}

#tmain {
    text-decoration: none;
}
.logo{
    position: absolute;
    left: 20px;
    top: 20px;
    height: 150px;
    width: 20%;
    float: left;
   
}
.title{
    position: absolute;
    left: 110px;
    top: 37px;
    align-items: center;
    height: 80px;
    width: 27%;
    /* background-color: aquamarine; */
    float: left;
}

.title h1{
    font-size:20px;
    color: rgb(1, 110, 182);
    font-family: 'Zilla Slab';
}

.title h2{
    font-size:15px;
    color: rgb(1, 110, 182);
   

}
.navbar{
   
    position:absolute;
    top: 25px;
    right: 0px;
    display: flex;
    justify-content: right;
    align-items: center;


}
.navbar ul{
    display: inline;
    justify-content: center;
    align-items: center;
   
}

.navbar ul li {
    list-style: none;
    padding: 20px;
    display: inline;
    
}
.navbar ul li a {
    color: rgb(1, 110, 182);
    font-size: 15px;
    text-decoration: none;
    transition: 0.2s;
    cursor: default;

}
.navbar ul li a:hover{
    color:rgb(135, 252, 246);
    text-shadow: 0 0 2px rgb(135, 255, 249), 0 0 8px rgb(135, 255, 249);
    font-size: 18px;
}


.booking {
    border: 2px solid;
    margin: auto;
    width: 70%;
    padding: 20px;
    margin-top: 120px;
    border-radius: 15px;
    /* background-color: hsl(223, 95%, 68%) */
}
.trip{
    float: left;
}

.ahh{
    position: absolute;
    right: 15%;
    float: right;
}

.bookingTable {
    margin: auto;
    width: 70%;
    margin-top: 20px;
    background-color: aqua;

}

.bookingTable table {
    width: 100%;
    height: 100px;

}
.bookingTable th, td {
    border: 1px solid black;
    border-radius: 10px;
  }

.fareType {
    margin: auto;
    width: 70%;   
}
.fareType table {
    width: 100%;
}

.container {
    width: 350px;
    height: 400px;
    background-color: aqua;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 600px;
    margin-top: 50px;
    border: 2px;
    border-color: green;
    border-radius: 25px;
}
.inputbox {
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 300px;
    height: 60px;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: gray;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
    top: -1px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: gray;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: gray;
    font-size: 1.5em;
    top: 20px;
}

.fareButton {
    background-color: white;
}