@import url('https://fonts.googleapis.com/css?family=Zilla Slab');
* {
    
    font-family: 'Zilla Slab';
    margin: 0;
    padding: 0;
}
.backgroundimg {
    position: absolute;
    width: 45%;
    height: 100%;
    background-image: url(airport.jpeg);
    margin-left: 55%;
    background-repeat: no-repeat;
    border-top-left-radius: 50px;
}

.header {
    width: 100%;
    height: 100px;
}

body{
    /* background-color: rgb(91, 241, 247);     */
    margin: 0;
    padding: auto;
    /* background-image: url(bg.jpeg); */
    
}

#tmain {
    text-decoration: none;
}
.logo{
    position: absolute;
    left: 20px;
    top: 20px;
    height: 150px;
    width: 20%;
    float: left;
   
}
.title{
    position: absolute;
    left: 90px;
    top: 30px;
    align-items: center;
    height: 50px;
    width: 10%;
    float: left;
}

.title h1{
    font-size:20px;
    color: rgb(1, 110, 182);
    font-family: 'Zilla Slab';
}

.title h2{
    font-size:15px;
    color: rgb(1, 110, 182);
   

}
.navbar{
   
    position:absolute;
    top: 25px;
    right: 0px;
    display: flex;
    justify-content: right;
    align-items: center;


}
.navbar ul{
    display: inline;
    justify-content: center;
    align-items: center;
   
}

.navbar ul li {
    list-style: none;
    padding: 20px;
    display: inline;
    
}
.navbar ul li a {
    color: rgb(1, 110, 182);
    font-size: 15px;
    text-decoration: none;
    transition: 0.2s;
    cursor: default;

}
.navbar ul li a:hover{
    color:rgb(135, 252, 246);
    text-shadow: 0 0 2px rgb(135, 255, 249), 0 0 8px rgb(135, 255, 249);
    font-size: 18px;
}


.booking {
    position: relative;
    border: 2px solid;
    margin: auto;
    width: 70%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    /* background-color: hsl(223, 95%, 68%) */
}
.trip{
    position: absolute;
    float: left;
    top: 25%;
}

.ahh{
    position: absolute;
    right: 2%;
    top: 25%;
    float: right;
}

.bookingTable {
    margin: auto;
    width: 70%;
    margin-top: 20px;
    background-color: aqua;

}

.bookingTable table {
    width: 100%;
    height: 100px;

}
.bookingTable th, td {
    border: 1px solid black;
    border-radius: 10px;
  }

.fareType {
    position: relative;
    margin: auto;
    width: 70%;   
    top: 20px;
}
.fareType table {
    width: 100%;
}

.container {
    position: relative;
    width: 350px;
    height: 400px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 1000px;
    margin-top: 50px;
    background-color: aqua;
}
.inputbox {
    position: relative;
    background-color: aqua;
    margin-top: 10px;
    margin-left: 30px;
    width: 300px;
    height: 60px;
}

.inputbox label {
    position: absolute;
    top: 70%;
    left: 10px;
    transform: translateY(-5%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

#date {
    position: absolute;

}

input:focus ~ label,
input:valid ~ label{
    top: -1px;
}

.inputbox input {
    width: 80%;
    height: 60px;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 10px 0 30px;
    color: balck;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: black;
    font-size: 1.5em;
    top: 20px;
}

.fareButton {
    background-color: white;
}

.anitext {
    position: absolute;
    top: 200px;
    left: 650px;
    width: 20%;
    height: 50px;
    font-size: 40px;
}

#element {
    font-size: 40px;
}

.personalInfo {
    position: absolute;
    background-color: aqua;
    top: 200px;
    margin-left: 100px;
    height: 400px;
    width: 500px;

}