@import url('https://fonts.googleapis.com/css?family=Zilla Slab');
* {
    
    font-family: 'Zilla Slab';
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(91, 241, 247);     */
    margin: 0;
    padding: auto;
    /* background-image: url(bg.jpeg); */
}

#tmain {
    text-decoration: none;
}
.container{
    position: relative;
}
.center {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}
.center1 {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}
.center2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
  

.logo{
    position: absolute;
    left: 29px;
    top: 25px;
    height: 150px;
    width: 20%;
    float: left;
}

.logo img{
    border-radius: 50%;
}
#bg{
    filter: brightness(70%);
    opacity: 0.9;
}
.title{
    position: absolute;
    left: 110px;
    top: 37px;
    align-items: center;
    height: 80px;
    width: 27%;
    /* background-color: aquamarine; */
    float: left;
}

.title h1{
    font-size:20px;
    color:  rgb(255, 255, 255);
    font-family: 'Zilla Slab';
}

.title h2{
    font-size:15px;
    color: rgb(255, 255, 255);
}
.title h3{
    position: absolute;
    right: 30%;
    top: 300px;
    font-size:30px;
    color: rgb(255, 255, 255);
}

.navbar{
   
    position:absolute;
    top: 25px;
    right: 0px;
    display: flex;
    justify-content: right;
    align-items: center;


}
.navbar ul{
    display: inline;
    justify-content: center;
    align-items: center;
   
}

.navbar ul li {
    list-style: none;
    padding: 20px;
    display: inline;
    
}
.navbar ul li a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
    transition: 0.2s;
    cursor: default;

}
.navbar ul li a:hover{
    color:rgb(133, 241, 255);
    text-shadow: 0 0 2px rgb(133, 241, 255), 0 0 8px rgb(133, 241, 255);
    font-size: 18px;
}

.icon {
    position: absolute;
    height: 880px;
    width: 100%;
    top: 420px;
    right: 0;

}
.offer{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 20px;
}

.flightt{
    position: absolute;
    width: 100%;
}

.offer1 {
    position: absolute;
    width: 30%;
    height: 170px;
    padding: 10px;
    /* margin: 10px; */
    border: 1px gray solid;
    border-radius: 20px;
}

.plane{ 
    position: absolute;
    right: 20px;
    /* box-shadow:  0 0 2px rgb(0, 0, 0), 0 0 8px rgb(0, 0, 0); */
}

.trainn{
    position: absolute;
    width: 100%;
    top: 200px;
}
.offer2 {
    position: absolute;
    /* top: 200px; */
    width:30%;
    height: 170px;
    padding: 10px;
    /* margin: 10px; */
    border: 1px gray solid;
    border-radius: 20px;
}

.train{
    position: absolute;
    /* top: 200px; */
    right: 20px;
}

.buss{
    position: absolute;
    width: 100%;
    top: 420px;
}

.offer3 {
    position: absolute;
    /* top: 400px; */
    width:30%;
    height: 170px;
    padding: 10px;
    /* margin: 10px; */
    border: 1px gray solid;
    border-radius: 20px;
}

.bus{
    position: absolute;
    /* top: 400px; */
    right: 20px;
}

.carr{
    position: absolute;
    width: 100%;
    top: 620px;
}

.offer4 {
    position: absolute;
    /* top: 600px; */
    width:30%;
    height: 170px;
    padding: 10px;
    /* margin: 10px; */
    border: 1px gray solid;
    border-radius: 20px;
}

.cab{
    position: absolute;
    right: 20px;
    /* top: 600px; */
}

.over{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: black;
    cursor: pointer;
}
.content1{
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
    text-align: center;
}

.content2{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
    text-align: center;
}

.content3{
    position: absolute;
    top: 50%;
    right: 17%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
    text-align: center;
}

.content4{
    position: absolute;
    top: 50%;
    right: 17%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
    text-align: center;
}

.plane:hover .over{
    opacity: 0.8;
}

.bus:hover .over{
    opacity: 0.8;
}

.cab:hover .over{
    opacity: 0.8;
}

.train:hover .over{
    opacity: 0.8;
}
