@import url('https://fonts.googleapis.com/css?family=Zilla Slab');
* {
    
    font-family: 'Zilla Slab';
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(91, 241, 247);     */
    margin: 0;
    padding: auto;
    /* background-image: url(bg.jpeg); */
}

#tmain {
    text-decoration: none;
}
.container{
    position: relative;
    height: 750px
}
.center {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}
.center1 {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}
.center2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: white;
    font-family: sans-serif;
}
  

.logo{
    position: absolute;
    left: 29px;
    top: 25px;
    height: 150px;
    width: 20%;
    float: left;
}

.logo img{
    border-radius: 50%;
}
#bg{
    filter: brightness(70%);
    opacity: 0.9;
}

.title{
    position: absolute;
    left: 180px;
    top: 45px;
    align-items: center;
    height: 80px;
    width: 27%;
    float: left;
}
.title h1{
    font-size:40px;
    color:  rgb(255, 255, 255);
    font-family: 'Zilla Slab';
}

.title h2{
    font-size:30px;
    color: rgb(255, 255, 255);
}

.navbar{
   
    position:absolute;
    top: 25px;
    right: 0px;
    display: flex;
    justify-content: right;
    align-items: center;


}
.navbar ul{
    display: inline;
    justify-content: center;
    align-items: center;
   
}

.navbar ul li {
    list-style: none;
    padding: 20px;
    display: inline;
    
}
.navbar ul li a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    transition: 0.2s;
    cursor: default;

}
.navbar ul li a:hover{
    color:rgb(133, 241, 255);
    text-shadow: 0 0 2px rgb(133, 241, 255), 0 0 8px rgb(133, 241, 255);
    font-size: 26px;
}

.icon {
    position: relative;
    height: 700px;
    width: 100%;
    top: 20px;
    right: 0;

}
.offer{
    position: absolute;
    height: 100%;
    width: 100%;
    /* top: 20px; */
}

.flightt{
    position: absolute;
    width: 100%;
}

.offer1 {
    position: absolute;
    width: 30%;
    height: 170px;
    padding: 10px;
    /* margin: 10px; */
    border: 1px gray solid;
    border-radius: 20px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
}

.plane{ 
    position: absolute;
    right: 20px;
}

.trainn{
    position: absolute;
    width: 100%;
    top: 200px;
}
.offer2 {
    position: absolute;
    width:30%;
    height: 170px;
    padding: 10px;
    /* margin: 10px; */
    border: 1px gray solid;
    border-radius: 20px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
}

.train{
    position: absolute;
    right: 20px;
}

.buss{
    position: absolute;
    width: 100%;
    top: 400px;
}

.offer3 {
    position: absolute;
    width:30%;
    height: 170px;
    padding: 10px;
    /* margin: 10px; */
    border: 1px gray solid;
    border-radius: 20px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
}

.bus{
    position: absolute;
    right: 20px;
}

.carr{
    position: absolute;
    width: 100%;
    top: 620px;
}

.offer4 {
    position: absolute;
    /* top: 600px; */
    width:30%;
    height: 170px;
    padding: 10px;
    /* margin: 10px; */
    border: 1px gray solid;
    border-radius: 20px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
}

.cab{
    position: absolute;
    right: 20px;
    /* top: 600px; */
}

.over{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: black;
    cursor: pointer;
}
.content1{
    position: absolute;
    top: 85px;
    right: 4%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
    text-align: center;
}

.content2{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
    text-align: center;
}

.content3{
    position: absolute;
    top: 50%;
    right: 17%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
    text-align: center;
}

.content4{
    position: absolute;
    top: 50%;
    right: 17%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
    text-align: center;
}

.plane:hover .over{
    opacity: 0.8;
}

.bus:hover .over{
    opacity: 0.8;
}

.cab:hover .over{
    opacity: 0.8;
}

.train:hover .over{
    opacity: 0.8;
}

.botton{
    position: absolute;
    left: 30px;
}
.button0 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button0:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button0:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button0:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.us {

    margin-top: 1000px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

html{
    scroll-behavior: smooth;

}

h1 {
    font-size: 36px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about, .team {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.team-member {
    text-align: center;
    margin: 20px;
}

.team-member img {
    max-width: 100%;
    border-radius: 50%;
}

.team-member h3 {
    font-size: 20px;
    margin-top: 10px;
}

.team-member p {
    font-size: 16px;
    color: #777;
}

.anitext {
    position: absolute;
    top: 220px;
    left: 600px;
    width: 30%;
    height: 50px;
    font-size: 40px;
}

.emptyPlane {
    position: relative;
    width: 1039px;
    height: 200px;
    left: 480px;
}

.emptyTrain {
    position: relative;
    width: 1039px;
    height: 200px;
    left: 480px;
    /* top: 200px; */

}

.emptyBus {
    position: relative;
    width: 1039px;
    height: 200px;
    left: 480px;
    /* top: 400px; */
    
}

.goa {
    position: absolute;
    width: 600px;
    height: 250px;
    margin-top: 60px;
    left: 30px;
    border: #000000;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.goa img{
    width: 280px;
    height: 250px;
    border-bottom-left-radius: 98px;

}

.kathmandu {
    position: absolute;
    width: 600px;
    height: 250px;
    margin-top: 60px;
    right: 30px;  
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.kathmandu img{
    width: 280px;
    height: 250px;
    border-bottom-left-radius: 98px;
}

.cochin {
    position: absolute;
    width: 600px;
    height: 250px;
    margin-top: 360px;
    left: 30px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.cochin img{
    width: 280px;
    height: 250px;
    border-bottom-left-radius: 98px;
}

.colombo {
    position: absolute;
    width: 600px;
    height: 250px;
    margin-top: 360px;
    right: 30px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.colombo img{
    width: 280px;
    height: 250px;
    border-bottom-left-radius: 98px;
}

.zurich {
    position: absolute;
    width: 600px;
    height: 250px;
    margin-top: 660px;
    left: 30px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.zurich img{
    width: 280px;
    height: 250px;
    border-bottom-left-radius: 98px;
}

.mauritius {
    position: absolute;
    width: 600px;
    height: 250px;
    margin-top: 660px;
    right: 30px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.mauritius img{
    width: 280px;
    height: 250px;
    border-bottom-left-radius: 98px;
}

.a {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bolder;
}

.b {
    position: absolute;
    font-size: 18px;
    margin-top: 60px;
    margin-left: 10px;
    font-style: italic;
    color: gray;
}

.c {
    position: absolute;
    font-size: 24px;
    margin-top: 180px;
    margin-left: 10px;
    color: gray;
    font-weight: bold;
}

.d {
    position: absolute;
    font-size: 25px;
    margin-top: 210px;
    margin-left: 10px;
    font-weight: 700;
}