*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    min-height: 100vh;
}

.ticket{
    /* padding: 20px; */
    width: 80%;
    box-shadow: 0 .4rem .8rem #0005;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userd{
    border-right-style: dashed;
    border-width: 2px;

}



