
@import url('https://fonts.googleapis.com/css?family=Zilla Slab');
* {
    
    font-family: 'Zilla Slab';
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(91, 241, 247);     */
    margin: 0;
    padding: auto;
    /* background-image: url(bg.jpeg); */
    /* background-color: #4910b3; */
}
.container{
    position: relative;
}
#tmain {
    text-decoration: none;
}

.logo{
    position: absolute;
    left: 29px;
    top: 25px;
    height: 150px;
    width: 20%;
    float: left;
}

.logo img{
    border-radius: 50%;
}
#bg{
    filter: brightness(70%);
    opacity: 0.9;
}
.title{
    position: absolute;
    left: 110px;
    top: 37px;
    align-items: center;
    height: 80px;
    width: 27%;
    float: left;
}

.title h1{
    font-size:20px;
    color:  rgb(255, 255, 255);
    font-family: 'Zilla Slab';
}

.title h2{
    font-size:15px;
    color: rgb(255, 255, 255);
}
.title h3{
    position: absolute;
    right: 30%;
    top: 300px;
    font-size:30px;
    color: rgb(255, 255, 255);
}

.navbar{
   
    position:absolute;
    top: 25px;
    right: 0px;
    display: flex;
    justify-content: right;
    align-items: center;


}
.navbar ul{
    display: inline;
    justify-content: center;
    align-items: center;
   
}

.navbar ul li {
    list-style: none;
    padding: 20px;
    display: inline;
    
}
.navbar ul li a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
    transition: 0.2s;
    cursor: default;

}
.navbar ul li a:hover{
    color:rgb(133, 241, 255);
    text-shadow: 0 0 2px rgb(133, 241, 255), 0 0 8px rgb(133, 241, 255);
    font-size: 18px;
}

.circle{
    position: absolute;
    top: -90px;
    left: -90px;
    height:250px;
    width: 250px;
    background-color: rgb(8, 22, 216);
    border-radius: 40%;
    /* box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset; */

}
.bar{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: rgb(8, 22, 216);
    /* box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset; */
}

.form{
    position: absolute;
    top: 200px  ;
    height:500px;
    width:600px;
    margin-top:5%;
    margin-left:25%;
}
.head{
    padding:8px;
}
.content .radio{
    margin:10px 10px;
}
.content2 .input{
    width:400px;
    padding:10px;
    margin:10px;
    color:#000000;
}
.content2 .tarikh{
    margin:10px;
    padding:10px;
    color:#000000;
}
.content2  .person{
    padding:10px;
    margin:10px;
    color:#000000;
}
.content2 .travel{
    margin:20px 20px;
}
.content2 .travel2{
    padding:5px;
}
.content2 .submit-btn{
    border:none;
    outline:none;
    width:200px;
    padding:10px;
    margin-left:200px;
}